@import url(../css/fonts.css);

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    /* theme font-family */
    --Abel:'Abel', sans-serif;
    --Anton:'Anton', sans-serif;
    --Josefin:'Josefin Sans', sans-serif;
    --Lexend:'Lexend', sans-serif;
    --Livvic:'Livvic', sans-serif;


    /* Theme colors */
    --text-gray: #3f4954;
    --text-light:#686666da;
    --white:#ffffff;
    --midnight:#104f55;
   /* transparency level  */
    --main-white: #FFFFFF80;


    /* Gradients */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/* global classes */
a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend)
}


h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

/*  x   global classes    x  */


/* Navigation */
.nav{
    background: #fff;
    padding: 02rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size:1.6rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .navbar{
    display: flex; 
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel)
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    text-align: center;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0.2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

/*  x Navigation x  */





/*  Main Content  */

/* Site Title */

.site-background{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50vh;
}

.site-background video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.content{
    position: relative;
    z-index: 1;
}

main .content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background-color: var(--main-white);
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1rem;
    font-family:var(--Livvic);
    transition: all 0.3s ease-in-out;

}

main .site-title .btn:hover{
    background-color: var(--midnight);
    color: var(--white);
}

/* x Site Title x */


/* Blog Carousel */

.carousel{
    height: 100%;
    width: 100%;
}

.carousel > .wrapper {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

.carousel .wrapper .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}

.carousel .wrapper .hero h1 {
    font-size: 3rem; 
    font-family: var(--Lexend);
    color: var(--text-light);
}

.carousel .wrapper .hero button.btn-articles {
    justify-self: end;
    padding: 14px 45px;
    cursor: pointer;
    border: 1px solid var(--text-light);
    border-radius: 37px;
    background: transparent;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    -ms-border-radius: 37px;
    -o-border-radius: 37px;
    font-size: 1rem;
    font-family: var(--Livvic);
    transition: all 0.3s ease-in-out;
}

.carousel .wrapper .hero button.btn-articles:hover {
    background: var(--midnight);
    color: var(--white);
}

/* Glide.js */

.carousel .wrapper .glide {
    margin-top: 25px;
}

.carousel .wrapper .glide .glide__slide {
    padding: 15px;
    padding-bottom: 15px;
}

.carousel .wrapper .glide .glide__slide .card {
    height: 470px;
    background-color: black;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 2px 13px 1px rgba(0, 0, 0, 0.6);
}

.carousel .wrapper .glide .glide__slide .card img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.carousel .wrapper .glide .glide__slide .card .share {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 15px;
    right: 15px;
    font-size: 22px;
}

.carousel .wrapper .glide .glide__slide .card .content {
    background-color: white;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    color: black;
    z-index: 99;
    padding: 20px 15px;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.carousel .wrapper .glide .glide__slide .card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
}



.carousel .wrapper .glide .glide__slide .card .content span {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -20%;
    font-family: var(--Lexend);
}

.carousel .wrapper .glide .glide__slide .card .content h6 {
    font-size: 1.2rem;
    font-family: var(--Livvic);
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 25px;
    position: relative;
}

.carousel .wrapper .glide .glide__slide .card .content h6::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 2px;
    background: black;
    bottom: -8px;
    left: 30%;
}

.carousel .wrapper .glide .glide__slide .card .content p{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: var(--Abel);
}

.carousel .wrapper.glide .glide__slide .card:hover .content {
    bottom: 0;
}

.glide__arrows .glide__arrow--right{
    right: .5em;
}

.glide__arrows .glide__arrow--left{
    left: .5em;
}

.glide__arrows .glide__arrow {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 26px;
    color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    padding: 0;
}

/*x Glide.js x*/

/*x  Blog Carousel  x*/

/*  x Main Content x  */

/* Viewport less than or equal to 750px */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .navbar{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

}

/*  x Viewport less than or equal to 750px x  */